@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Role";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";

}

@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>;

<h1>Manager Roles</h1>

<div class="table-responsive">
<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model){

        <tr id="@item.Id">
            <td>@item.Name</td>
            <td>DELETE</td>
        </tr>
        }
    </tbody>
</table>
</div>
